<div class="flex w-full space-y-24 h-full flex-col items-start">
  <div class="w-full h-full space-x-10 flex flex-row justify-center items-center">
    <app-input-field class="w-full" labelText="First name" iconSrc="fa-solid fa-signature"></app-input-field>
    <app-input-field class="w-full" labelText="Last name" iconSrc="fa-solid fa-signature"></app-input-field>
    <app-input-field class="w-full" labelText="Username" iconSrc="fa-solid fa-signature"></app-input-field>
  </div>

  <div class="w-full space-x-10 h-fit flex flex-row justify-center items-center">
    <app-input-field class="w-full" labelText="Address" iconSrc="fa-solid fa-location-dot"></app-input-field>
  </div>

  <div class="w-full space-x-10 h-fit flex flex-row justify-center items-center">
    <app-input-field class="w-full" labelText="Contact number" iconSrc="fa-solid fa-phone"></app-input-field>
    <app-input-field class="w-full" labelText="Contact e-mail" iconSrc="fa-solid fa-envelope"></app-input-field>
  </div>

</div>
