<div class="form-group pb-1 bg-" >
  <label>{{labelText}}</label>
  <div class="relative bg-light-input-field-bg flex items-center rounded-md p-2.5 border-2 pr-5 border-transparent border-solid focus-visible:border-light-accent-secondary focus-within:border-light-accent-secondary focus:border-light-accent-secondary hover:border-light-accent-secondary ">
    <i *ngIf="iconSrc" [class]="iconSrc"></i>
    <input #InputField
           class="bg-light-input-field-bg"
           [type]="inputType" [(ngModel)]="inputValue"
           (focus)="onFocus()"
           (blur)="onBlur()"
    />
  </div>
</div>
