<div class="w-full h-full box-border flex flex-col justify-center items-center">
  <div class="w-11/12 flex flex-col justify-start items-center h-5/6 hover:w-full hover:h-full transition-outlines duration-500 ease-out border-solid border-t-4 border-b-0 border-x-0 border-light-accent m-2 bg-light-shade px-2">
    <!--Title-->
    <div class="w-full h-full flex flex-col justify-center items-center">
      <header class="text-center text-4xl uppercase">
        Service name
      </header>
    </div>
  </div>
</div>
