<div class="w-full h-full box-border flex flex-col justify-center items-center">
  <div class="w-11/12 flex flex-col justify-start items-center h-5/6 hover:w-full hover:h-full transition-outlines duration-500 ease-out rounded-lg border-solid border-light-accent m-2">
    <!--Picture -->
    <div class="w-full relative">
      <div class="absolute inset-0 z-20 flex items-center justify-center">
        <img src="https://www.freeiconspng.com/thumbs/nature-icon/leaf-plants-nature-icon-23.png" alt="Project Service type" class="box-border bg-light-shade w-24 h-24 p-4 rounded-full border-light-background border-solid border-4">
      </div>
    </div>
    <!--Fill-->
    <div class="w-full h-3/6 bg-transparent rounded-lg">
      <img class="w-full h-full"
        src="https://images.unsplash.com/photo-1603612692333-7bac35e43500?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlJTIwc2NlbmV8ZW58MHx8MHx8&w=1000&q=80">
    </div>
    <!--Title-->
    <div class="w-full h-full flex flex-col justify-center items-center">
      <header class="text-center text-4xl uppercase">
        Service name
      </header>
    </div>
  </div>
</div>
