<div class="form-group pb-1 h-full">
  <label>{{labelText}}</label>
  <div class="h-full relative bg-light-input-field-bg flex items-center rounded-md p-2.5 border-2 pr-5 border-transparent border-solid focus-visible:border-light-accent-secondary focus-within:border-light-accent-secondary focus:border-light-accent-secondary hover:border-light-accent-secondary ">
    <i class="text-black" *ngIf="iconSrc" [class]="iconSrc"></i>
    <textarea #InputBox
           class="bg-light-input-field-bg w-full h-full border-none outline-none resize-none"
           [ngModel]="value"
           (focus)="onFocus()"
           (blur)="onBlur()"
           (input)="onInput($event)"
    ></textarea>
  </div>
</div>
